.main-card{
    margin-left: auto;
    width: 30vw;
    height: fit-content;
    background-color: #FFEFD8;
    margin-bottom: 10px;
}

.heading{
    text-align: left;
}

.card-wrapper{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    max-height: 400px;
    float: right;
    padding: 60px;
}

.heading-service{
    padding:30px;
    text-align: left !important;
}

.bottom-sp-bar{

    display: flex;
    overflow: auto;
    padding-top: 5vw;
    padding-left: 30px;
}

.left-section{
    float: left;
}

.main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}